<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="TestNG Test">
        <classes>
            <class name="AttractionsTest"/>
            <class name="BookingLoginTest"/>
            <class name="OpenCheapestAppartment"/>
            <class name="FlightTest"/>
            <class name="ChangeCurrencyTest"/>
            <class name="ChangeSearchTest"/>
        </classes>
    </test>
</suite>
